@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.app-container {
    display: flex; /* set the display property of the body to flex */
    flex-direction: column; /* set the flex-direction property of the body to column */
    min-height: 100vh; /* set the minimum height of the body to 100vh */
    margin: 0;
    padding: 0;
}

header,
footer {
    flex-shrink: 0;
}

.app {
    margin: 0 auto;
    width: 50vw;
}

@media screen and (max-width: 900px) {
    .app {
        margin: 0 auto;
        width: 95%;
    }
}

main {
    margin: 40px 0;
    flex: 1; /* set the flex property of the main element to 1 */
}

.weight-lg {
    min-width: 90px;
    min-height: 90px;
}

.weight-sm {
    min-width: 60px;
    min-height: 60px;
}

.btn {
    position: relative;
    margin: 0.25rem 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed !important;
}

.btn-plate {
    border-radius: 50%;
    border: none;
    margin: 10px;
}

.btn:focus,
.btn:active,
.btn:not([disabled]):not(.disabled):active {
    box-shadow: none !important;
}

.btn .badge {
    // position: absolute;
    // bottom: -5px;
    // right: -5px;
    z-index: 10;
    // top: auto;
    // height: 19px;
    &.plate-count-badge {
        left: 80%;
        top: 10px;
    }
}

@media screen and (max-width: 900px) {
    .btn-plate.weight-lg,
    .btn-plate.weight-sm {
        font-size: 14px;
        min-width: 45px;
        min-height: 45px;
        margin: 3px;
    }
}

@media screen and (max-width: 330px) {
    .btn-plate.weight-lg,
    .btn-plate.weight-sm {
        font-size: 12px;
        min-width: 39px;
        min-height: 39px;
        margin: 2px;
    }
}

.btn-barbell {
    border-width: 4px;
    min-width: 30%;
}

.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: inherit;
    box-shadow: none;
}

.btn-barbell:first-child {
    margin-right: 5px;
}

.btn-barbell:last-child {
    margin-left: 5px;
}

.btn-dark.btn-barbell-45:not([disabled]):not(.disabled).active,
.btn-dark.btn-barbell-45:not([disabled]):not(.disabled):active,
.btn-barbell-45 {
    border-color: var(--blue);
}

.btn-dark.btn-barbell-45:hover {
    border-color: #0062cc;
}

.btn-dark.btn-barbell-35:not([disabled]):not(.disabled).active,
.btn-dark.btn-barbell-35:not([disabled]):not(.disabled):active,
.btn-barbell-35 {
    border-color: var(--yellow);
}

.btn-dark.btn-barbell-35:hover {
    border-color: #d39e00;
}

.btn-dark.btn-barbell-15:not([disabled]):not(.disabled).active,
.btn-dark.btn-barbell-15:not([disabled]):not(.disabled):active,
.btn-barbell-15 {
    border-color: #ccc;
}

.btn-dark.btn-barbell-15:hover {
    border-color: var(--gray);
}

.total-weight-reset {
    margin-bottom: 50px;
}

.barbell-weights {
    margin: 40px 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: 900px;
    margin: 0 auto;

    &:after {
        content: "";
        width: 100%;
        height: 15px;
        background-color: gray;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
    }
}

.weights {
    display: flex;
    position: relative;
    align-items: center;
}

.left-weights {
    margin-left: 20px;

    &.show-clips {
        &:before {
            content: "";
            background: linear-gradient(
                0deg,
                #eee 0%,
                #eee 35%,
                #000 35%,
                #000 100%
            );
            width: 12px;
            height: 40px;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            border-radius: 5px;
        }
    }
}

.right-weights {
    margin-right: 20px;
    &.show-clips {
        &:after {
            content: "";
            background: linear-gradient(
                0deg,
                #eee 0%,
                #eee 35%,
                #000 35%,
                #000 100%
            );
            width: 12px;
            height: 40px;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            border-radius: 5px;
        }
    }
}

.barbell-plate {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    z-index: 1;
    border: 1px solid #fff;
    font-size: 10px;
    border-radius: 5px;
}

.barbell-plate-55 {
    background-color: #dc3545;
    width: 55px;
}

.barbell-plate-45 {
    background-color: #0d6efd;
    width: 45px;
}

.barbell-plate-35 {
    background-color: #ffc107;
    width: 35px;
}

.barbell-plate-25 {
    background-color: #157347;
    width: 25px;
}

.barbell-plate-15 {
    background-color: black;
    width: 20px;
}

.barbell-plate-10 {
    background-color: black;
    width: 20px;
}

.barbell-plate-5 {
    background-color: black;
    width: 15px;
    height: 60px;
}

.barbell-plate-1 {
    background-color: black;
    width: 15px;
    height: 60px;
}

[class*="barbell-plate-0"] {
    background-color: black;
    width: 15px;
    height: 60px;
}

[class*="barbell-plate-0"] .weight-number {
    transform: rotate(90deg);
}

svg {
    color: white;
    width: 1rem;
    height: 1rem;
}

header {
    .info {
        padding: 20px 0;
    }

    h1 {
        margin-bottom: 0;
    }
    a {
        color: white;
    }

    padding: 20px 0px;
    p {
        margin: 0;
    }

    svg {
        transition: opacity 0.15s ease-in-out;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

footer {
    padding: 20px 0;

    p {
        margin: 0;
    }
    span {
        display: inline-block;
        margin: 0 5px;
    }
}
